/* -- ІКОНКА ВІДОБРАЖЕННЯ ПАРОЛЯ  -- */

/* Встановлюємо контейнер поля пароля відносно позиціонованим */
.password-container {
  position: relative;
}

/* Додаємо правий відступ до поля введення пароля */
#password {
  padding-right: 2.5rem;
}

/* Встановлюємо абсолютне позиціонування для іконки всередині поля введення пароля */
#togglePassword {
  position: absolute;
  font-size: 1.2rem;
  right: 10px;
  top: 50%;
  padding-top: 2rem;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}