/* -- ЗАВАНТАЖЕННЯ ФОТО  -- */

/* -- Стилі для контейнера завантаження фото -- */
.photo-upload {
  position: relative;
  border: 1px solid #ddd;
  margin-right: 20px;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 0.3s;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(131, 224, 255, 0.7);
}

/* Встановлення стилів для попереднього перегляду фото */
.photo-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.icon-upload {
  color: #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
}