{% extends 'finance/loyout_finance.html' %}
{% load static %}

{% block title %}Редагування профілю{% endblock %}

{% block links %}
  <link href="{% static 'pages/css/sign_up/sign_up_form.css' %}" rel="stylesheet">
  <link href="{% static 'pages/css/sign_up/photo.css' %}" rel="stylesheet">
  <link href="{% static 'pages/css/sign_up/photo-upload.css' %}" rel="stylesheet">
  <link href="{% static 'pages/css/sign_up/photo_size.css' %}" rel="stylesheet">
  <script src="{% static 'users/js/edit_profile/edit_profile.js' %}"></script>
{% endblock %}

{% block profile_active %}active{% endblock %}

{% block profile_disabled %}disabled{% endblock %}

{% block content %}
  <div class="container mt-5 main-content"> 
    <h2 class="mb-3">Редагувати профіль</h2>
    <div class="row">
      <form method="POST" novalidate enctype="multipart/form-data">
        <div class="registration-container d-flex flex-column flex-sm-row">
          {% csrf_token %}
          <div class="photo-upload mb-3 col-md-4 d-flex flex-column align-items-center">
            {% if profile.photo %}
              <img id="photoPreview" class="photo-preview mb-3" src="{{ profile.photo.url }}" alt="Photo Preview" style="display: block;">
            {% else %}
              <i class="bi bi-camera icon"></i>
              <img id="photoPreview" class="photo-preview mb-3" src="" alt="Photo Preview" style="display: none;">
            {% endif %}
            {{ form.photo }}
          </div>
          <div class="form-container col-md-8">
            <div class="mb-3">
              <label for="fullName" class="form-label">Повне Ім'я</label>
              {{ form.full_name }}
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Електронна пошта</label>
              {{ form.email }}
            </div>
            <div class="mb-3">
              <label for="username" class="form-label">Логін</label>
              {{ form.username }}
            </div>
            <div class="mb-3">
              <label for="password1" class="form-label">Новий пароль</label>
              {{ form.password1 }}
            </div>
            <div class="mb-3">
              <label for="password2" class="form-label">Підтвердження пароля</label>
              {{ form.password2 }}
            </div>
            <div class="mb-3">
              <label for="currency" class="form-label">Валюта</label>
              {{ form.currency }}
            </div>
          </div> 
        </div>
        <div class="text-center mt-1 mt-md-3 mb-4 mb-md-5">
          <button type="submit" class="btn btn-primary">Зберегти зміни</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}