/* -- НИЖНІЙ КОЛОНТИТУЛ -- */

/* Встановлення розміру шрифту для різних екранів */
@media (max-width: 331px) {
    .footer {
        font-size: 0.8rem;
    }
}

@media (min-width: 332px) {
    .footer {
        font-size: 0.9rem;
    }
}

@media (min-width: 576px) {
    .footer {
        font-size: 1rem;
    }
}

/* Встановлення фонового кольору та кольору шрифту */
.footer {
    background-color: #343a40;
    color: #fff;
}

/* Встановлення стилів для посилань */
.footer a {
    text-decoration: none;   /* Видаляє підкреслення */
    color: inherit;          /* Наслідує колір тексту від батьківського елемента */
    transition: color 0.4s;  /* Плавна анімація зміни кольору */
}

/* Зміна кольору посилання при наведенні */
.footer a:hover {
    color: #dadada;
}

/* Видалення зовнішнього відступу для параграфів */
.footer p {
    margin: 0;
}

/* Встановлення стилів для контейнера */
.footer .container {
    display: flex;           /* Гнучке відображення */
    flex-direction: column;  /* Встановлення орієнтаціх як колонки */
    align-items: center;     /* Вирівнювання по центру по вертикалі */
}

/* Встановлення стилів для елемента з класом 'mt-2' – вертикальна риска */
.footer .mt-2 {
    display: flex;           /* Гнучке відображення */
    align-items: center;     /* Вирівнювання по центру по вертикалі */
}

/* Встановлення стилів для елемента з класом 'd-flex */
.footer .d-flex {
    display: flex;           /* Гнучке відображення */  
    justify-content: center; /* Вирівнювання по центру по горизонталі */
    align-items: center;     /* Вирівнювання по центру по вертикалі */
}