/* -- НАВІГАЦІЙНЕ МЕНЮ -- */

/* Встановлення заднього фону для навігаційного меню */
.custom-nav {
  background-color: #137DC5;
}

/* Встановлення заднього фону та кольору шрифту при виборі елементу з випадаючого меню */
.dropdown-item.disabled {
  pointer-events: none;
  opacity: 0.5;
}

/* Встановлення заднього фону та кольору шрифту при виборі елементу з випадаючого меню */
.dropdown-item:not(.disabled):active {
  background-color: rgb(211, 224, 255);
  color: #5c5c5c;
}