{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link 
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
    rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
    crossorigin="anonymous" 
  />
  <script 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
    crossorigin="anonymous">
  </script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'pages/css/general/navigation_menu.css' %}">
  {% block links %}{% endblock %}
  <link rel="stylesheet" href="{% static 'pages/css/general/footer.css' %}">
</head>
<body class="d-flex flex-column min-vh-100">
  <nav class="navbar navbar-expand-lg navbar-dark custom-nav">
    <div class="container">
      <a class="navbar-brand" href="{% url 'main' %}">
        <img src="{% static 'pages/img/logo.png' %}" alt="Logo" width="70" />
      </a>
      <button 
        class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarNav"
        aria-controls="navbarNav" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% block main_active %}{% endblock %}" aria-current="page" href="{% url 'main' %}">Головна</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block about_us_active %}{% endblock %}" href="{% url 'about_us' %}">Про нас</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block contact_active %}{% endblock %}" href="{% url 'contact' %}">Контакти</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {% block enter_active %}{% endblock %}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Вхід
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item {% block sign_up_disabled %}{% endblock %}" href="{% url 'users:sign_up' %}">Зареєструватися</a></li>
              <li><a class="dropdown-item {% block log_in_disabled %}{% endblock %}" href="{% url 'users:log_in' %}">Увійти в аккаунт</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {% block content %}{% endblock %}

  <footer class="footer text-center py-3">
    <div class="container">
      <p>&copy; 2024 Finance Fusion. All rights reserved.</p>
      <p>Contact Us: <a href="mailto:support@financefusion.com" class="text-reset">support@financefusion.com</a></p>
      <div class="mt-2 d-flex justify-content-center align-items-center">
        <a href="{% url 'documents' document_id=1 %}" class="me-3">Privacy Policy</a>
        <span class="mx-2">|</span>
        <a href="{% url 'documents' document_id=2 %}" class="ms-3">Terms of Use</a>
      </div>
    </div>
  </footer>
</body>
</html>